.products {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: var(--spacing-state);
  width: 100%;
  max-width: 1400px;
  margin: var(--spacing-none) auto;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  @media only screen and (max-width: 900px) {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: var(--spacing-city);
    row-gap: var(--spacing-state);
  }
}
